.wrapper {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    gap: 10px;
    grid-auto-rows: minmax( 100px, auto );
    border-width: 6px;
    border-color: #0b472e4b;
    border-style: solid;
    padding: 15px;
}