.title {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: calc(10px + 2vmin);
	display: inline;
}

h1 {
    margin-top: 40px;
}